.svn
.deps
*.pc
*.lds
*.o
Makefile
Makefile.in
*.so
*.a
valgrind.spec
stamp-h1
.in_place/
Makefile.vex.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
default.supp
glibc-2.X.supp
install-sh
missing
mkinstalldirs
*~
